@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400&display=swap');
/*alegreya italic looks more elegant than slanted, but alegreya bold is too thicc*/
/* chinese serif handled by noto quite well*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
/* "I would not marry someone who puts a newline between a curly brace and the end of a line." -- TheUltimate123 */ 
/*Color themes:
blackpink -> #f0f,
tropical -> # 64dfd7, #e0f4f4*/
:root {--maincolor:#64dfd7; --lightmain:#e0f4f4; --mainfont: Alegreya,serif;}

/*=======================*/
html {background-image: url("https://unity858.github.io/static/lost-sky-dreams-1.png");
     background-size: cover; background-attachment:fixed;}
body {width: 100%; vertical-align: middle;
    background-color: white;font-family:  var(--mainfont); font-size:13pt;
    opacity: 0.88; margin-top:50px;padding:0px 0px 200px 0px;}

/**/
div#page-wrapper{height: auto; margin:auto; width:100%; max-width:1100px;}

/* navbar */
div#navbar {background-color: var(--lightmain);
    transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;
    box-shadow: 0px 0px 10px 0px #dddddd; padding: 15px; width:1100px;
    position: fixed; top: 0px; z-index: 5; margin-top:10px;
    border:1px solid transparent; border-radius:7px;}
#navbar a {font-size:20px; font-family: var(--mainfont); color:var(--maincolor); margin-left:10px; margin-right:10px;}
#navbar-left {font-size:15px; font-family: var(--mainfont); color: var(--maincolor);}
#navbar-right {margin-left:60%; font-size:15px; font-family: var(--mainfont);
    color: var(--maincolor); text-align:right;}

/* default */
div#content {padding:40px; background-color:transparent;}

/* color headings*/
h1,h2,h3 {color:var(--maincolor);}
/*link spam*/
a:link {color: var(--maincolor);text-decoration:none;}
a:hover {color: var(--maincolor);text-shadow: 0 0 1px var(--maincolor);}
a:active {color: var(--maincolor); background-color: var(--lightmain); text-decoration: none;}
a:visited {color: var(--maincolor);}

/* me attempting to implement mdframed*/
block {padding:5px 10px 5px 10px;
    border: 3px solid var(--maincolor); border-width: 0px 0px 0px 4px;
    display:block; background-color: var(--lightmain);width:99%;
    margin:5px 0px 5px 0px;}
/*why not*/
div#quote{display:block; margin-left:20%; margin-right:20%;margin-top:10px;
    margin-bottom:10px; position:relative;}
/*hide hide hide*/
.hidden {display: none!important;}

/*inline text formatting shortcuts*/
ch {display: inline; font-family: Noto, serif; font-size:12pt;} /*chinese*/
i {font-style: italic;}
b {font-weight:500;}
cap { display:block;text-align: center; font-size:12pt;}

/* copied from dchenmathcounts*/
div.fancy-links {list-style-type: none;padding: 0;display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));}
div.fancy-links block {width:90%; padding:10px;border: 2.5px solid var(--maincolor); background-color: var(--lightmain);
    border-width: 2px; border-radius:5px;margin:5px;}
div.fancy-links a {display:block; font-size:14pt;}
a#footnote-ref {}
a#footnote-back {margin-left: 0.4rem;}
li {margin-top:5px;margin-bottom:5px;}
